Source: mule-gbk
Section: unknown
Priority: optional
Maintainer: Su Yong <ysu@mail.ustc.edu.cn>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: mule-gbk
Architecture: any
Depends: emacs21
Description: GBK support for Emacs/MULE
 GBK Chinese charset support for GNU Emacs 21.
